@model DetailUserViewModel
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-select2-single').select2();
        });
    </script>
}
@{ 
    ViewBag.Title = $"account information {Model.LastName} {Model.FirstName}";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto row">
            <div class="col-12">
                <h3 class="tm-block-title d-block text-center">THÔNG TIN TÀI KHOẢN</h3>
            </div>
            <div class="form-group w-100">
                <div class="form-group w-100 row m-0">
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" readonly/>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" readonly/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" readonly/>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" readonly/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="RoleId" class="control-label"></label>
                                <select asp-for="RoleId" class="js-select2-single text-white form-control input-validation-error" disabled>
                                    @if (Model.Roles != null)
                                    {
                                        if (Model.Roles.Any())
                                        {
                                            foreach (var role in Model.Roles)
                                            {
                                                if (role.Id == Model.RoleId)
                                                {
                                                    <option value="@role.Id">
                                                        @role.Name
                                                    </option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 mx-auto mb-4">
                        <div class="mx-auto">
                            <label asp-for="Avatar">
                                <img src="@Url.Content($"~/images/account/{Model.Avatar}")" alt="Avatar" id="avatar" class="w-100" />
                            </label>
                        </div>
                        <div class="custom-file mt-3 mb-3">

                        </div>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-dark btn-block text-uppercase" asp-controller="User" asp-action="Index">QUAY LẠI</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
